sentence_transformers 
nltk
pydash
icecream
beautifulsoup4
StrEnum
duckduckgo_search
google.ai.generativelanguage
google-generativeai
google-auth-oauthlib
pandas
numpy
lxml
python-dotenv
streamlit
grobid-client-python
streamlit-pdf-viewer
pymupdf